<a href="https://colab.research.google.com/github/tapanjha/Data-Science/blob/main/DS_P1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Introduction to Pandas***

1. Pandas is a Python library used for working with data sets. It has functions for analyzing, cleaning, exploring, and manipulating data. 
2. The name "Pandas" has a reference to both "**Panel Data**", and "**Python Data Analysis**" and was created by Wes **McKinney in 2008**.
3. It is also refered as ***SQL of Python.***

***Why Pandas is used for Data Science?***
1. Pandas are used in conjunction with other libraries that are used for data science. 
2.It is built on the top of the NumPy library which means that a lot of structures of NumPy are used or replicated in Pandas. 
3. The data produced by Pandas are often used as input for plotting functions of Matplotlib, statistical analysis in SciPy, and machine learning algorithms in Scikit-learn.


*   Installing Pandas: Pip install Pandas
*   import pandas as pd

Pandas generally provide two data structures for manipulating data, They are: 
1.   Series
2.   DataFrame

**1. Series:** Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). 

*    The axis labels are collectively called indexes.
*   Pandas Series is nothing but a column in an excel sheet.
*  Labels need not be unique but must be a hashable type.

Note: An object is hashable if it has a hash value that does not change during its entire lifetime.

*   In Python, any immutable object (such as an integer, boolean, string, tuple) is hashable, meaning its value does not change during its lifetime. This allows Python to create a unique hash value to identify it, which can be used by dictionaries to track unique keys and sets to track unique values.

**Creating a Series**
*   In the real world, a Pandas Series will be created by loading the datasets from existing storage, storage can be SQL Database, CSV file, an Excel file.
*   Pandas Series can be created from the lists, dictionary, and from a scalar value etc.

In [ ]:
import pandas as pd
import numpy as np


# Creating empty series
ser = pd.Series()

print(ser)

# simple array
data = np.array(['g', 'e', 'e', 'k', 's'])

ser = pd.Series(data)
print(ser)

Series([], dtype: float64)
0    g
1    e
2    e
3    k
4    s
dtype: object

<ipython-input-30-1b41e8d8c64d>:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser = pd.Series()

**2. DataFrame**
*   Pandas DataFrame is a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns).
*   A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.
*   Pandas DataFrame consists of three principal components, the data, rows, and columns.

**Creating a DataFrame:**
In the real world, a Pandas DataFrame will be created by loading the datasets from existing storage, storage can be SQL Database, CSV file, an Excel file. Pandas DataFrame can be created from the lists, dictionary, and from a list of dictionaries, etc.

In [ ]:
import pandas as pd

# Calling DataFrame constructor
df = pd.DataFrame()
print(df)

# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is',
			'portal', 'for', 'Geeks']

# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

Empty DataFrame
Columns: []
Index: []
        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

***Program-1(a): To create a pandas series from a list.***

In [ ]:
import pandas as pd

In [ ]:
list1 = ['A', 'B','C','D','E','F','G','H','I','J']

In [ ]:
series1= pd.Series(list1)

In [ ]:
print(series1)

0    A
1    B
2    C
3    D
4    E
5    F
6    G
7    H
8    I
9    J
dtype: object

***Program-1(b): To create a pandas series from a dictionary of values.***

In [ ]:
import pandas as pd

In [ ]:
dict = {'A':100,'B': 200,'C':300,'D':400,'E':500}

In [ ]:
print(dict) # to print dictionary objects

{'A': 100, 'B': 200, 'C': 300, 'D': 400, 'E': 500}

In [ ]:
series1= pd.Series(dict)  # Series object is created from dictionary

In [ ]:
series1

A    100
B    200
C    300
D    400
E    500
dtype: int64

In [ ]:
print(series1)

A    100
B    200
C    300
D    400
E    500
dtype: int64

***Program-1(c): To create a pandas series from ndarray.***

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
nd = np.arange(1,10) # creation of ND Array

In [ ]:
print(nd)        # Print Array

[1 2 3 4 5 6 7 8 9]

In [ ]:
series1 = pd.Series(nd)    #Creation of Series

In [ ]:
print(series1)            # Printing Series

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64