<a href="https://colab.research.google.com/github/tapanjha/Data-Science/blob/main/IDS7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Finding Mean, Median, Mode in Python without libraries***

In [ ]:
# Python program to print
# mean of elements

# list of elements to calculate mean
n_num = [1, 2, 3, 4, 5]
n = len(n_num)

get_sum = sum(n_num)
mean = get_sum / n

print("Mean is: " + str(mean))

Mean is: 3.0

In [ ]:
# Python program to print median of elements

# list of elements to calculate median
n_num = [10, 22, 34, 40, 51,67,75,100]
n = len(n_num)
n_num.sort()

if n % 2 == 0:
	median1 = n_num[n//2]
	median2 = n_num[n//2 - 1]
	median = (median1 + median2)/2
else:
	median = n_num[n//2]
print("Median is: " + str(median))

Median is: 45.5

**# Alternate Method: Python program to print median of elements**

In [6]:
list1 = [5,2,8,10,9, 6]
def median(list1):
                  list1.sort()
                  if  len(list1)%2 ==1:
                        return list1[len(list1)//2]
                  else:
                        return (list1[len(list1)//2-1] + list1[len(list1)//2])/2

median(list1)

7.0

**Python program to print mode of elements**

In [9]:
def mode(ls):
    # create an empty dictionary to keep count of each value
    counts = {}
    # iterate through the list
    for item in ls:
        if item in counts:
            counts[item] += 1
        else:
            counts[item] = 1
    # get the keys with the max counts
    return [key for key in counts.keys() if counts[key] == max(counts.values())]
# use the function on a list of values
mode([2,2,4,5,6,2,3,5,5,5])

[5]

**Finding Mean, Median, Mode using Python libraries**

In [ ]:
# Python code to demonstrate the working of mean()

# importing statistics to handle statistical operations
import statistics

# initializing list
li = [1, 2, 3, 3, 2, 2, 2, 1]

# using mean() to calculate average of list elements
print ("The average(or Mean) of list values is : ",end="")
print (statistics.mean(li))

The average(or Mean) of list values is : 2

In [ ]:
# Python code to demonstrate the
# working of median() on various
# range of data-sets

# importing the statistics module
from statistics import median

# Importing fractions module as fr
from fractions import Fraction as fr

# tuple of positive integer numbers
data1 = (2, 3, 4, 5, 7, 9, 11)

# tuple of floating point values
data2 = (2.4, 5.1, 6.7, 8.9)

# tuple of fractional numbers
data3 = (fr(1, 2), fr(44, 12),
		fr(10, 3), fr(2, 3))

# tuple of a set of negative integers
data4 = (-5, -1, -12, -19, -3)

# tuple of set of positive
# and negative integers
data5 = (-1, -2, -3, -4, 4, 3, 2, 1)

# Printing the median of above datasets
print("Median of data-set 1 is % s" % (median(data1)))
print("Median of data-set 2 is % s" % (median(data2)))
print("Median of data-set 3 is % s" % (median(data3)))
print("Median of data-set 4 is % s" % (median(data4)))
print("Median of data-set 5 is % s" % (median(data5)))

Median of data-set 1 is 5
Median of data-set 2 is 5.9
Median of data-set 3 is 2
Median of data-set 4 is -5
Median of data-set 5 is 0.0

In [ ]:
# Python code to demonstrate the working of mode() function on a various range of data types

# Importing the statistics module
from statistics import mode

# Importing fractions module as fr
# Enables to calculate harmonic_mean of a
# set in Fraction
from fractions import Fraction as fr

# tuple of positive integer numbers
data1 = (2, 3, 3, 4, 5, 5, 5, 5, 6, 6, 6, 7)

# tuple of a set of floating point values
data2 = (2.4, 1.3, 1.3, 1.3, 2.4, 4.6)

# tuple of a set of fractional numbers
data3 = (fr(1, 2), fr(1, 2), fr(10, 3), fr(2, 3))

# tuple of a set of negative integers
data4 = (-1, -2, -2, -2, -7, -7, -9)

# tuple of strings
data5 = ("red", "blue", "black", "blue", "black", "black", "brown")


# Printing out the mode of the above data-sets
print("Mode of data set 1 is % s" % (mode(data1)))
print("Mode of data set 2 is % s" % (mode(data2)))
print("Mode of data set 3 is % s" % (mode(data3)))
print("Mode of data set 4 is % s" % (mode(data4)))
print("Mode of data set 5 is % s" % (mode(data5)))

**Prog-7: Create a DataFrame based on E-Commerce data and generate mean, mode, median**

In [ ]:
import pandas as pd

In [ ]:
ecom_data = {"pid":[101,102,103,104,105,106,107,108,109,110], 
             "product_name":["AC","Fan","Books","LCD","TV","Monitor","UPS","Cookware","Cloths","Shoes"],
             "price":[35000, 1250, 425,9000,10500,5000,2750,3570,1580,2500]}

In [ ]:
print(ecom_data)

{'pid': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110], 'product_name': ['AC', 'Fan', 'Books', 'LCD', 'TV', 'Monitor', 'UPS', 'Cookware', 'Cloths', 'Shoes'], 'price': [35000, 1250, 425, 9000, 10500, 5000, 2750, 3570, 1580, 2500]}

In [ ]:
df = pd.DataFrame(ecom_data)
print(df)

   pid product_name  price
0  101           AC  35000
1  102          Fan   1250
2  103        Books    425
3  104          LCD   9000
4  105           TV  10500
5  106      Monitor   5000
6  107          UPS   2750
7  108     Cookware   3570
8  109       Cloths   1580
9  110        Shoes   2500

In [ ]:
count= df["price"].count()
print(count)

10

In [ ]:
max= df["price"].max()
print(max)

35000

In [ ]:
min= df["price"].min()
print(min)

425

In [ ]:
mean= df["price"].mean()
print(mean)

7157.5

In [ ]:
median= df["price"].median()
print(median)

3160.0

In [ ]:
mode= df["price"].mode()
print(mode)

0      425
1     1250
2     1580
3     2500
4     2750
5     3570
6     5000
7     9000
8    10500
9    35000
Name: price, dtype: int64

In [ ]:
std= df["price"].std()
print(std)

10326.604596865322

In [ ]:
variance= df["price"].var()
print(variance)

106638762.5

In [ ]:
df.quantile([0.25,0.50,0.75])

         pid   price
0.25  103.25  1810.0
0.50  105.50  3160.0
0.75  107.75  8000.0

In [ ]:
desc= df["price"].describe()
print(desc)

count       10.000000
mean      7157.500000
std      10326.604597
min        425.000000
25%       1810.000000
50%       3160.000000
75%       8000.000000
max      35000.000000
Name: price, dtype: float64