<a href="https://colab.research.google.com/github/tapanjha/Data-Science/blob/main/IDSP4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***CONCEPT OF PIVOT() AND PIVOT-TABLE() IN PYTHON.***

**Program-4(a): Write a program to implement pivot() on a DataFrame.**

**Syntax:** pandas.pivot(index, columns, values) 

pivot() function produces pivot table based on 3 columns of the DataFrame. Uses unique values from index / columns and fills with values.

Parameters:
index[ndarray] : Labels to use to make new frame’s index
columns[ndarray] : Labels to use to make new frame’s columns
values[ndarray] : Values to use for populating new frame’s values

In [ ]:
import pandas as pd

# creating dataframe
df = pd.DataFrame({'Product' : ['Carrots',
								'Beans', 'Orange', 'Broccoli', 'Banana'],
				'Category' : ['Vegetable',
								'Vegetable', 'Fruit', 'Vegetable','Fruit'],
				'Quantity' : [8, 5, 3, 5, 8],
				'Amount' : [270, 239, 617, 384,610]})
print(df)

    Product   Category  Quantity  Amount
0   Carrots  Vegetable         8     270
1     Beans  Vegetable         5     239
2    Orange      Fruit         3     617
3  Broccoli  Vegetable         5     384
4    Banana      Fruit         8     610

In [ ]:
df.pivot(index='Product', columns='Category', values='Amount')

Category  Fruit  Vegetable
Product
Banana    610.0        NaN
Beans       NaN      239.0
Broccoli    NaN      384.0
Carrots     NaN      270.0
Orange    617.0        NaN

In [ ]:
df.pivot(index='Product', columns='Category', values=['Quantity', 'Amount'])

         Quantity           Amount
Category    Fruit Vegetable  Fruit Vegetable
Product
Banana        8.0       NaN  610.0       NaN
Beans         NaN       5.0    NaN     239.0
Broccoli      NaN       5.0    NaN     384.0
Carrots       NaN       8.0    NaN     270.0
Orange        3.0       NaN  617.0       NaN

**Program-4(b): Write a program to implement 
pivot-table() on a DataFrame.**

In [ ]:
# importing pandas
import pandas as pd

# creating dataframe
df = pd.DataFrame({'Product' : ['Carrots', 'Broccoli', 'Banana', 'Banana',
								'Beans', 'Orange', 'Broccoli', 'Banana'],
				'Category' : ['Vegetable', 'Vegetable', 'Fruit', 'Fruit',
								'Vegetable', 'Fruit', 'Vegetable', 'Fruit'],
				'Quantity' : [8, 5, 3, 4, 5, 9, 11, 8],
				'Amount' : [270, 239, 617, 384, 626, 610, 62, 90]})
print(df)

    Product   Category  Quantity  Amount
0   Carrots  Vegetable         8     270
1  Broccoli  Vegetable         5     239
2    Banana      Fruit         3     617
3    Banana      Fruit         4     384
4     Beans  Vegetable         5     626
5    Orange      Fruit         9     610
6  Broccoli  Vegetable        11      62
7    Banana      Fruit         8      90

**#To get the total sales of each product.**

**Program Logic:** creating pivot table of total sales product-wise, aggfunc = 'sum' will allow you to obtain the sum of sales each product.

In [ ]:
pivot = df.pivot_table(index =['Product'],
                       values =['Amount'],
                       aggfunc ='sum')
print(pivot)

          Amount
Product
Banana      1091
Beans        626
Broccoli     301
Carrots      270
Orange       610

**To get the total sales of each category** 

creating pivot table of total sales category-wise, aggfunc = 'sum' will allow you to obtain the sum of sales each product.

In [ ]:
pivot = df.pivot_table(index =['Category'], 
                       values =['Amount'], 
                       aggfunc ='sum')
print(pivot)

           Amount
Category
Fruit        1701
Vegetable    1197

**To get the total sales of by category and product both.**

creating pivot table of sales by product and category both
aggfunc = 'sum' will allow you to obtain the sum of sales each product

In [ ]:
pivot = df.pivot_table(index =['Product', 'Category'], 
                       values =['Amount'], aggfunc ='sum')
print (pivot)

                    Amount
Product  Category
Banana   Fruit        1091
Beans    Vegetable     626
Broccoli Vegetable     301
Carrots  Vegetable     270
Orange   Fruit         610

**To get the Mean, Median, Minimum sale by category.**

creating pivot table of Mean, Median,Minimum sale by category aggfunc = {'median','mean', 'min'} will get median, mean and minimum of sales respectively.

In [ ]:
pivot = df.pivot_table(index =['Category'], values =['Amount'], 
                       aggfunc ={'median', 'mean', 'min'})
print (pivot)

           Amount
             mean median min
Category
Fruit      425.25  497.0  90
Vegetable  299.25  254.5  62