<a href="https://colab.research.google.com/github/tapanjha/Data-Science/blob/main/IDSP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Concept of Quantile() Function in Python**

In [9]:
import pandas as pd
df= pd.DataFrame([[10, None, 30,40],[10,14,21,28],[10,15,8,12],[10,14,1,8]], 
                 columns=['Apple', 'Orange','Banana', 'Pear'],
                 index= ['Basket1','Basket2','Basket3','Basket4'])

In [10]:
df

         Apple  Orange  Banana  Pear
Basket1     10     NaN      30    40
Basket2     10    14.0      21    28
Basket3     10    15.0       8    12
Basket4     10    14.0       1     8

In [14]:
print(df.quantile()) #default q = 0.5

Apple     10.0
Orange    14.0
Banana    14.5
Pear      20.0
Name: 0.5, dtype: float64

In [12]:
print(df.quantile(q = 0.25)) #default q = 0.25

Apple     10.00
Orange    14.00
Banana     6.25
Pear      11.00
Name: 0.25, dtype: float64

In [18]:
df

         Apple  Orange  Banana  Pear
Basket1     10     NaN      30    40
Basket2     10    14.0      21    28
Basket3     10    15.0       8    12
Basket4     10    14.0       1     8

In [22]:
print(df.quantile([0.25,0.50,0.75,1], axis= 1))

      Basket1  Basket2  Basket3  Basket4
0.25     20.0    13.00     9.50     6.25
0.50     30.0    17.50    11.00     9.00
0.75     35.0    22.75    12.75    11.00
1.00     40.0    28.00    15.00    14.00

In [24]:
print(df.Banana.quantile(0.25))

6.25

In [26]:
print(df[["Banana", "Pear"]].quantile(0.25))

Banana     6.25
Pear      11.00
Name: 0.25, dtype: float64

In [27]:
print (df.iloc[0:2, 2:4].quantile(0.25))  # Banana and pear for basket1 and 2 only   
                                         # iloc[Row index(0 to n-1), Col index(0 to n-1)]

Banana    23.25
Pear      31.00
Name: 0.25, dtype: float64

**Concept of Percentile in Python using numpy.percentile() function**

In [33]:
# Python Program illustrating
# numpy.percentile() method

import numpy as np

# 1D array
arr = [20, 2, 7, 1, 34]
print("arr : ", arr)
arr.sort()
print("sorted arr: ",arr)
print("50th percentile of arr : ",
	np.percentile(arr, 50))
print("25th percentile of arr : ",
	np.percentile(arr, 25))
print("75th percentile of arr : ",
	np.percentile(arr, 75))

arr :  [20, 2, 7, 1, 34]
sorted arr:  [1, 2, 7, 20, 34]
50th percentile of arr :  7.0
25th percentile of arr :  2.0
75th percentile of arr :  20.0

**Program-2: Create a Series and print all the elements that are above 75th percentile.**

In [1]:
# importing pandas module
import pandas as pd

# importing numpy module
import numpy as np

# Making an array
arr = np.array([42, 12, 72, 85, 56, 100])

# creating a series
Ser1 = pd.Series(arr)

# printing this series
print(Ser1)

# calculating quantile/percentile value
quantile_value = Ser1.quantile(q=0.75)

# printing quantile/percentile value
print("75th Percentile is:", quantile_value)
print("Values that are greater than 75th percentile are:")

# Running a loop and
# printing all elements that are above the
# 75th percentile
for val in Ser1:
	if (val > quantile_value):
		print(val)

0     42
1     12
2     72
3     85
4     56
5    100
dtype: int64
75th Percentile is: 81.75
Values that are greater than 75th percentile are:
85
100